<div class="">

  <a routerLink="">Go Back Home</a>

  <form>
    <div class="form-group">
      <label>page ID</label>
      <input #beginArticle id="beginArticle">
      <input #beginId id="beginId">
      <input #endArticle id="endArticle">
      <input #endId id="endId">

    </div>
    <button (click)="startGame(beginArticle.value,beginId.value,endArticle.value,endId.value)">Start Game</button>
  </form>
</div>
<div class="">

</div>

<div class="checkDiv">

</div>

<div id="output">

</div>

<div *ngFor="let divs of " class="">

</div>
