<div class="row">
    <div class="wrapper">
      <div class="navPane">
        <h2>CURRENT PAGE: </h2>
        <h3>{{game.articleHistoryTitles[game.articleHistoryTitles.length - 1]}}</h3>
        <div id="output" class="box1">
        </div>
      </div>
      <div class="historyBox">

          <h2>History</h2>
          <ol>
            <li *ngFor="let article of game.articleHistoryTitles">
              {{article}}
            </li>
          </ol>
    
      </div>
      <div class="box2">
        <div id="endArticleFollow">
          <div id="output2follow">
            <h2>TARGET PAGE:</h2>
            <h3>{{game.endArticle}}</h3>
          </div>
          <div id="output2">
          </div>

        </div>
      </div>
    </div>
</div>
