<div class="row">

    <div class="wrapper content">
      <div class="">
        <h2>START PAGE: </h2>
        <h3>{{game.beginArticle}}</h3>
        <div id="output" class="box1">
        </div>
      </div>
      <div class="box2">
        <div id="endArticleFollow">
          <div id="output2follow">
            <h2>TARGET PAGE:</h2>
            <h3>{{game.endArticle}}</h3>
          </div>
          <div id="output2">
          </div>

        </div>
      </div>
    </div>

</div>



<!-- <iframe [src]="safeUrl()" width="" height="" title="endpoint"></iframe> -->
