.navbar-header{
  color: green;
}
.background{
  background-image: url('../../assets/wiki.png');
  width: 100%;
  height: 1000px;
}
.btn {
    background-color: #3062cf;
    color: white;
}
.button {
  text-align: center;
}
